* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: linear-gradient(to right, #0062E6, #33AEFF);
    font-family: sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form {
    width: 400px;
    background-color: #fff;
    margin: 0 5px;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

form h1 {
    margin: 20px 0;
    font-size: 1.7rem;
    font-weight:normal;
    text-align: center;
    color: #3d4042d7;
}

.form-group {
    position: relative;
}

.form-group input {
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 18px 0 18px 20px;
    border: 1px solid #ced4da;
    border-radius: 30px;
    outline: none;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 45px;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    color: #3d4042d7;
    transition: .3s ease-out;
}

form [type="checkbox"] {
    display: inine-block;
    margin: 0 5px 0 30px;
}

form .form-group [type="text"]:focus + label,
form .form-group [type="text"]:valid + label,
form .form-group [type="password"]:focus + label,
form .form-group [type="password"]:valid + label{ 
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: .8rem;
}

form .form-group [type="text"],
form .form-group [type="password"] {
    transition: border 0.3s;
}


form .form-group [type="text"]:focus,
form .form-group [type="password"]:focus {
    box-shadow: 0 0 5px #17a2b8;
}

form label{
    color: #3d4042d7;
    user-select: none;
}

form  [type="submit"] {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0 auto 35px auto;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}
form  [type="submit"]:hover {
    background-color: #0069d9
}

a {
    text-decoration: none;
}

.google a {
    display: block;
    width: 100%;
    margin: 10px auto 0 auto;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #ea4335;
    border-radius: 40px;
    transition: color 0.3s;
}

.google a:hover {
    color:#212529;
}

.fa-google {
    margin-right: 8px;
}

.facebook a {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    color: #fff;
    background-color: #3b5998;
    transition: color 0.3s;
}

.facebook a:hover {
    color:#212529;
}

.fa-facebook-f {
    margin-right: 8px;
}

@media (max-width: 400px) {
    form {
        padding: 20px;
    }
}